<!doctype html>
<link rel="apple-touch-icon" sizes="57x57" href="{{ url_for('static', filename='fav/apple-icon-57x57.png')}}">
<link rel="apple-touch-icon" sizes="60x60" href="{{ url_for('static', filename='fav/apple-icon-60x60.png')}}">
<link rel="apple-touch-icon" sizes="72x72" href="{{ url_for('static', filename='fav/apple-icon-72x72.png')}}">
<link rel="apple-touch-icon" sizes="76x76" href="{{ url_for('static', filename='fav/apple-icon-76x76.png')}}">
<link rel="apple-touch-icon" sizes="114x114" href="{{ url_for('static', filename='fav/apple-icon-114x114.png')}}">
<link rel="apple-touch-icon" sizes="120x120" href="{{ url_for('static', filename='fav/apple-icon-120x120.png')}}">
<link rel="apple-touch-icon" sizes="144x144" href="{{ url_for('static', filename='fav/apple-icon-144x144.png')}}">
<link rel="apple-touch-icon" sizes="152x152" href="{{ url_for('static', filename='fav/apple-icon-152x152.png')}}">
<link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='fav/apple-icon-180x180.png')}}">
<link rel="icon" type="image/png" sizes="192x192"  href="{{ url_for('static', filename='fav/android-icon-192x192.png')}}">
<link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='fav/favicon-32x32.png')}}">
<link rel="icon" type="image/png" sizes="96x96" href="{{ url_for('static', filename='fav/favicon-96x96.png')}}">
<link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='fav/favicon-16x16.png')}}">
<link rel="manifest" href="{{ url_for('static', filename='fav/manifest.json')}}">
<meta name="msapplication-TileColor" content="#ffffff">
<meta name="msapplication-TileImage" content="{{ url_for('static', filename='fav/ms-icon-144x144.png')}}">
<meta name="theme-color" content="#ffffff">
<title>{% block title %}{% endblock %} ร้านมานพของชำ </title>
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
<!-- 
<link rel="stylesheet" href="{{ url_for('static', filename='bs4/css/bootstrap.min.css') }}">
<script src="{{ url_for('static', filename='bs4/js/bootstrap.min.js') }}"></script>  -->
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.7.1/dist/sweetalert2.all.min.js" integrity="sha256-Y16qmk55km4bhE/z6etpTsUnfIHqh95qR4al28kAPEU=" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11.7.1/dist/sweetalert2.min.css" integrity="sha256-sWZjHQiY9fvheUAOoxrszw9Wphl3zqfVaz1kZKEvot8=" crossorigin="anonymous">
<nav>
  <h1><a href="/">ร้านมานพของชำ</a></h1>
  <ul>
    {% if session.get('username') %}
      <li><span>ยินดีต้อนรับ {{ session['username'] }}</span>
    <li><a href="{{ url_for('addcart')}}">cart  {{ session['ds'] | length }}</a>
      <li><a href="{{ url_for('logout') }}">Log Out</a>
    {% else %}
      <li><a href="{{ url_for('register') }}">Register</a>
      <li><a href="{{ url_for('login') }}">Log In</a>
    {% endif %}
  </ul>
</nav>
<section class="content">
  <header>
    {% block header %}{% endblock %}
  </header>
  {% for message in get_flashed_messages() %}
    <div class="flash">{{ message }}</div>
  {% endfor %}
  {% block content %}{% endblock %}
</section>